Olá, {{ name }}
<p>Seja bem vindo a nossa academia!</p>
<p>É um importante passo começar a priorizar sua saúde, e estamos aqui para te ajudar. Segue algumas informações sobre
  sua matrícula:</p>
<p>Plano: {{planTitle}} - Duração em meses: {{planDuration}}</p>
<p>Data de término: {{endDate}}</p>
<p>Valor total: R${{price}}</p>
<p>
  Qualquer dúvida, entre em contato conosco!
</p>
